@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

/* nav-container */
.nav-content {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 30px;
  box-sizing: border-box;
}

.nav-content .nav-logo h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 0px;
}

.nav-content .nav-logo a {
  color: white;
  margin-left: 20px;
  margin-right: 40px;
  font-size: 35px;
}


.nav-content .nav-items a {
  font-size: 16px;
  text-transform: uppercase;
  padding: 7px 10px;
  margin: 5px;
  color: white;
  font-weight: bold;
}

.nav-content .nav-items a:hover {
  border-radius: 5px;
  background-color: #fff;
  color: #000000;
}

.nav-content .nav-smail {
  display: none;
}

.nav-content .nav-smail button {
  padding: 5px 7px;
  background-color: #202020;
  border-radius: 5px;
}

.nav-content .nav-smail button div {
  background-color: white;
  width: 30px;
  height: 3px;
  margin: 5px;
}

.dropdown-menu {
  width: 230px;
  background-color: #000000;
}

.dropdown-item {
  color: #fff;
  text-transform: uppercase;
  line-height: 2;
  font-weight: bold;
  font-size: 14px;
}

.dropdown-item :hover {
  border-radius: 5px;
  background-color: #fff;
  color: #000000;
}

/* hero-section */

.hero-section img {
  width: 100%;
  margin-bottom: 90px;
}

/* slider */
.slider {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.slider .slider-img {
  margin-right: 40px;
  transform: rotate(120deg);
  border: 3px solid #FFDA23;
}

.slider-text h1 {
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  line-height: 40px;
}

.slider-text u {
  font-weight: 600;
  text-decoration-color: #FFDA23;
  color: #000000;
}

.home-content {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
  margin: 70px auto;
}

.home-content .items {
  margin: 10px 30px;
}

.home-content .items-img img {
  width: 100%;
  display: block;
  margin: auto;
  height: 270px;
  border-radius: 10px;
}

.home-content .items-img img:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.home-content .items-text h1 {
  font-size: 26px;
  color: #000000;
  font-weight: 600;
  margin: 20px 0px;
}

.home-content .items-text p {
  font-size: 17px;
}

.home-content .items-text {
  padding: 15px;
}

footer {
  background-color: #000000;
  color: #fff;
  padding-bottom: 10px;
}

.footer-text {
  text-align: center;
  padding: 150px 10px;
}

.footer-text h5 {
  margin-bottom: 20px;
}

.footer-text a {
  color: #FFDA23;
  border-bottom: 2px solid #FFDA23;
}

#copy-right {
  padding-left: 50px;
}

/* Rsponsive code */

@media (max-width:769px) {
  .nav-content {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }

  .nav-content .nav-items {
    display: none;
  }

  .nav-content .nav-smail {
    display: block;
    margin-right: 10px
  }

  .hero-section img {
    width: 100%;
    margin-bottom: 50px;
  }

  /* slider */
  .slider {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .slider-text h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
  }

  /*home-content*/
  .home-content {
    width: 90%;
    display: grid;
    grid-template-columns: auto;
    margin: 70px auto;
  }

}


@media (min-width:1100px) {
  .slider-text h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 40px;
  }
}

@media (min-width:1200px) {
  .slider-text h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }

}

@media (min-width:1300px) {
  .home-content {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 70px auto;
  }
}


@media (min-width:1400px) {
  .slider-text h1 {
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
  }

}